body {
  background-color: #38393d;
  color: #C678DD;
}

hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(198, 120, 221, 0), rgba(198, 120, 221, 0.75), rgba(198, 120, 221, 0));
}

.input {
  background-color: #6b6c75 !important;
  color: rgb(229, 230, 231) !important;
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
  .game {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-gap: 1.5em;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 825px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .game {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-gap: 1.5em;
  }
}

@media only screen and (max-width: 1299px) and (min-width: 992px) {
  .container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .game {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-gap: 1.5em;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    width: 1327px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
  }
}

.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1.5em;
  padding: 1.5em;
  animation: fade 1s ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) !important;
}

.chat:hover{
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.1) !important;
}

.chat-comment {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 20fr;
}

.chat-item {
  align-items: center;
}

.query-game {
  background-color: #47474d !important;
  color: rgb(229, 230, 231) !important;
  border: 1px solid #282833 !important;
}

.section-header {
  color: rgb(241, 97, 109) !important;
  font-size: 1.65em !important;
  text-shadow: 1px 2px #3a3a3a !important;
}

.users {
  border: 1px solid rgb(121, 143, 161);
  border-radius: 5px;
  padding: 1em;
  overflow: auto;
}

.room {
  padding: 0 1.5em;
  max-height: 600px;
  overflow: auto;
  margin-bottom: 1em;
  color: rgb(229, 230, 231) !important;
}

.comment {
  color: rgb(229, 230, 231) !important;
  margin: 1.5em auto;
  font-size: 1.05em;
}

.comment-author {
  color: #98C379;
  font-size: 1.2em;
}

.game {
  animation: fadedown 1s ease-in-out;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) !important;
}

.game:hover {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.1) !important;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0, 60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.avatar-picker {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 4em;
  max-width: 800px;
  margin: 0 auto;
}

/* .avatar-picker * {
  width: 120px;
  height: 120px;
  margin: .5em auto;
  padding: 1em;
} */

.send-message-form {
  display: grid;
  grid-template-columns: 12fr 1fr;
  grid-gap: 1em;
}

.avatar-picker > label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.avatar-picker > label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.avatar-picker > label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 1px solid #98C379;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.3) !important;
  background-color: #4c4d50;
}

.splash-outer {
  padding: 0;
}

.splash-inner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 400px;
}

.splash-header {
  animation: fade 1s ease-in-out;
  text-align: center;
  font-size: 6em;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 2px 2px #242323;
}

.splash-form {
  animation: fadein 1s 1.5s ease-in-out both;
  margin: 1em auto;
}