.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1.5em;
  padding: 1.5em;
}

.users {
  border: 1px solid rgba(34,36,38,.15);
  padding: 1em;
}


.room {
  border: 1px solid rgba(34,36,38,.15);
  padding: 1em;
}